<template>
  <q-page class="absolute" id="page-people">
    <h2 class="text-secondary">StarWars search</h2>
    <PeopleSearch />
    <PeopleList />    
  </q-page>
</template>

<script lang="ts">
import PeopleSearch from '../people/components/people_search.vue';
import PeopleList from '../people/components/people_list.vue';

import Vue from 'vue';

export default Vue.extend({
  name: 'PageIndex',
  components: { PeopleSearch, PeopleList },
});

</script>

<style scoped lang="scss">
#page-people {
  left: 50%;
  transform: translate(-50%,0);
}
</style>