<template>
<div class="q-pt-md">
  <div v-if="renderText" class="text-center">
    {{ renderText }}
  </div>
  <div v-else>
    <q-card dark bordered class="bg-secondary q-mt-sm"  v-for="personName in getEnrichedNames" :key="personName">
      <q-card-section>
        <div class="text-subtitle" v-html="personName" />
      </q-card-section>
    </q-card>
  </div>
  <div v-if="isLoading" class="text-center">
    Loading...
  </div>  
</div>
</template>

<script lang="ts">
import Vue from 'vue';
import store, { getEnrichedNames } from '../store/store';
import { SERVICE_STATUS } from '../store/store_types';

export default Vue.extend({
  name: 'PeopleList',
  computed: {
    isLoading() {
      return store.status == SERVICE_STATUS.PENDING;
    },
    renderText(): string | null { 
        if(store.status == SERVICE_STATUS.ERROR) {
          return 'There was an error with API. Please try again later.'
        }

        if(store.searchQuery.length == 0) {
          return 'Enter search phrase'
        }

        if(store.people.length == 0 && !this.isLoading) {
          return 'Nothing found';
        }

        return null;
    },
    getEnrichedNames
  },
});
</script>
