<template>
    <q-input outlined v-model="dInput" label="Name">
        <template v-slot:append>
          <q-icon name="search" color="primary"></q-icon>
        </template>
    </q-input>
</template>

<script lang="ts">
import Vue from 'vue';
import { searchChanged } from '../store/store';

export default Vue.extend({
  name: 'PeopleSearch',
  data() {
    return {
      timeout: null as null | ReturnType<typeof setTimeout>,
      dInput: '' as string,
    };
  },
  watch: {
    dInput(newQuery) {
      // TO-DO perhaps move debounce to helpers class  
      if (this.timeout) clearTimeout(this.timeout);
      this.timeout = setTimeout(() => {
        void searchChanged(newQuery);
      }, 150);
    },
  },  
});
</script>
