
<template>
  <q-layout view="lHr p lfr">

    <q-page-container>
      <router-view />
    </q-page-container>

  </q-layout>
</template>

<script lang="ts">

import Vue from 'vue';

export default Vue.extend({
  name: 'MainLayout',
});

</script>
